{{#if error}}
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error}}
  </div>
{{/if}}
<form method="POST" style="max-width: 300px; margin: auto; margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
<h3>{{#if isSignUp}}Sign up{{else}}Login{{/if}}</h3>
  <div class="form-group">
    <label>Username</label>
    <input type="text" name="username" class="form-control" value={{username}}>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" name="password" class="form-control" value={{password}}>
  </div>
  {{#if isSignUp}}
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" name="passwordRepeat" class="form-control" value={{passwordRepeat}}>
  </div>
  {{/if}}
  <div class="form-group">
    {{#if isSignUp}}
    <button class="btn btn-success">Sign up</button>
    {{else}}
    <button class="btn btn-success">Login</button>
    <a class="btn btn-primary" href="/signup">Register</a>
    {{/if}}
  </div>
{{!--   <a class="btn btn-primary oauth-buttons" href="/auth/facebook">Login with Facebook</a> --}}
{{!--   <a class="btn btn-primary oauth-buttons" href="/auth/twitter">Login with Twitter</a> --}}
</form>
