<style>
  body {
    padding-bottom: 15px;
  }
</style>

<a href="/logout" style="float:right; margin-top:5%; margin-right:5%" class="btn btn-lg btn-primary" role="button">Logout</a>

<div class="container">
  <h2>Shopping Cart</h2>
  <p>Ready to check out?</p>
  <table class="table table-striped" style="width:70%">
    <thead>
    </thead>
    <tbody>
      {{#each cart}}
      <tr>
       <td><img style="width:150px;height:100px" src="{{this.imageUri}}"/></td>
        <td>
          <h4>{{this.title}}</h4>
        </td>
        <td>
          <form method="post" action="/cart/add/{{this._id}}">
            <button type="submit" class="btn btn-primary">Add another</button>
          </form>
        </td>
        <td>
          <form method="post" action="/cart/delete/{{this._id}}">
            <button type='submit' class="btn btn-primary">Remove</button>
          </form>
        </td>
        <td>
          ${{this.price}} x {{this.quantity}}
        </td>
        {{cart}}
      </tr>
      {{/each}}
    </tbody>
  </table>
  <h2 style="margin-left:57%">Total: ${{totalPrice}}</h2>
  <div style="margin-left:50%">
    <form method="post" action="/cart/delete" style="display:inline-block">
      <button class='btn btn-danger'>Empty cart</button>
    </form>
    <a href='/form/{{totalPrice}}' role='button' class='btn btn-primary' style="display:inline-block">Checkout with Stripe</a>

    <br/>
  </div>
  <a style="float:left" href="/home">Back to list</a>
</div>
