<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shopping Cart</title>
  </head>
  <body>
    <h1>Shopping Cart</h1>
    <div>
      {{#each cart}}
  <img src="{{this.imageUri}}" style="width:150px; height:140px;"/>
    <h2><div>{{this.title}}</div></h2>
    <div>{{this.description}}</div>
    <form method="post" action="/cart/add/{{this._id}}">
      <input type="submit" value="Add another"/>
  </form>

    <form method="post" action="/cart/delete/{{this._id}}">
      <input type="submit" value="Delete item"/>
  </form>
  {{/each}}

  <form method="post" action="/cart/delete">
    <input type="submit" value="Delete whole cart"/>
  </form>

  <form action="/your-server-side-code" method="POST">
  <input type="text" name="name" placeholder="Name">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<PUBLISHABLE_KEY>"
    data-amount="999"
    data-name="Demo Site"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
</form>

  </div>

  <form>

  </form>
  </body>
</html>
