<h2 class="center"> Logged in as {{user.username}}</h2>
<h3>Cart</h3>
<table class="table table-hover">
  <tbody>
{{#each products}}
  <tr>
    <td><img src="{{imageUri}}" height="100" width="100"/></td>
    <td>{{title}}
      <div>
        <form method="post" action="/cart/add/{{_id}}">
        <button type="submit">Add another</button>   </form>
        <form method="post" action="/cart/delete/{{_id}}">
        <button type="submit">Remove</button></form>
      </div>
    </td>
    <td>{{number}} x $ {{price}}</td>
  </tr>
{{/each}}
  </tbody>
</table>
<h3>Total Amount: $ {{totalPrice}}</h3>
<a class="btn btn-primary" href="/cart/delete">Empty Cart</a> -->
<a class="btn btn-primary" href="/checkout">Checkout With Stripe</a>
<a class="btn btn-primary" href="/products">Keep Shopping</a>
<a href="/logout">LogOut</a>
