<div class='cart'>
  <a href="/logout"><button>Logout</button></a>
  <h1>Shopping Cart</h1>
  {{#each cart}}
  <div class='product' style='border: 1px black solid;'>
    <img src='{{this.imageUri}}' style='height:42px;'>
    {{this.title}} - ${{this.price}}

    <form method='POST' action='/cart/add/{{this._id}}'>
      <button type='submit' name='add-another'>Add another</button>
    </form>

    <form method='POST' action='/cart/delete/{{this._id}}'>
      <button type='submit' name='remove'>Remove</button>
    </form>

  </div>
  {{/each}}
  <h2>Total: ${{total}}</h2>
  <form method='POST' action='/cart/delete'>
    <button type='submit' name='empty-cart' class='btn btn-default'>Empty Cart</button>
  </form>
  <a href='/cart/stripe/checkout'><button class='btn btn-default'>Checkout With Stripe</button></a>


</div>
