<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h2> Order confirmation </h2>
      Total: ${{amount}}

      Order Id: {{id}}

      Thanks for ordering from Homazon!
      <h5> Payment was charged to credit card with: </h5>
      Last 4 digits: {{last4}}
      Expiration date: {{exp_month}}/{{exp_year}}
    </div>
  </div>
</div>
