<h1>Order Confirmation</h1>
<ul>
  <li>Order Id: {{order._id}}</li>
  <li>Total: {{order.total}}</li>
  <li>Last 4 Digits of Credit Card: {{payment.stripeLast4}}</li>
  <li>Expiration Date: {{payment.stripeExpMonth}}/{{payment.stripeExpYear}}</li>
</ul>
