<h2 id="title">Products</h2>

<div id="products" class="container-fluid row">
  {{#each products}}
  <div class="product col-xs-3">
    <div class="row prod_title">
      <h3><a href="/product/{{this.id}}">{{this.title}}</a></h3>
    </div>

    <div class="row prod_descrip">
      <div class="subrow">
        <img class="image" src={{this.imageUri}} alt="product image" />
      </div><div class="subrow subrow_descrip">
        <div class="subrow_item">
          <h5>{{this.description}}</h5>
        </div><form class="subrow_item" action="/cart/add/{{this.id}}" method="POST">
          <button class="btn btn-default" type="submit">Add to Cart</button>
        </form>
      </div> <!-- close subrow -->
    </div> <!-- close row -->
  </div>
  {{/each}}
</div>
<style>
  #title {
    margin-top: 30px;
    padding-left: 30px;
    font-weight: 700;
    color: #772522;
  }
  #products {
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .product {
    /*flex: 1;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*flex-basis: none;*/
    /*width: 600px;
    height: 250px;*/

    border-radius: 5px;
    background-color: #d9534f;
    color: white;

    margin: 15px;
    padding: 1px;
  }
  .product a {
    color: white;
  }
  .prod_title {
    flex: 1;
  }
  .prod_descrip {
    flex: 5;

    display: flex;
    align-items: center;
  }
  .subrow {
    flex: 1;

    display: flex;

  }
  .subrow_descrip {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    align-items: center;
  }
  .image {
    flex: 1;
    flex-basis: none;
    width: 65px;
    height: 170px;
    margin: 25px 30px;
    border: 3px inset #ce5450;
  }
</style>
