<div style="margin-left:10%">
<strong><h1>Order Confirmation</h1></strong>
<p>Order id: {{id}}</p>
<br/>
<p>Total: ${{amount}}</p>
<br/>
<strong><h3>Credit Card Information</h3></strong>
<p>Last 4 digits of credit card: {{digits}}</p>
<p>Expiration date: {{month}}/{{year}}</p>
</div>
<a href='/home'>Back to home</a>
