<a class="btn btn-primary btn-danger" href="/logout">Logout</a><br>
<h2>ORDER CONFIRMATION </h2>
<p> Order id: {{id}} </p></br>
<p> Order Total: ${{total}} </p></br>
<p> Time {{time}} </p>
<h3>ORDER CONFIRMATION </h3>
<p> Last 4 digits of credit card: $={{ccard}} </p></br>
<p> Expiration date: {{date}} </p></br>
