<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h1>Products</h1>

    <table>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Description</th>
        <th>Link<th>
      </tr>
      {{#each product}}
      <tr>
        <td>
          <img height="64" src="{{imageUri}}" alt="{{title}}">
        </td>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td><a href="/product/{{_id}}">Check this out</a></td>
      </tr>
      {{/each}}
    </table>
  </div>
</div>

Your cart has {{length}} items.
<a href="/cart">View your cart</a>
