<a class="btn btn-primary btn-danger" href="/logout">Logout</a>
<form method="post" action="/cart/add/{{result._id}}">
  <input type="submit" name="addtocart" value="addtocart">
</form>
<h1>{{result.title}}</h1>
<h2>{{result.description}}</h2>
<p>{{result.price}} <img src="{{result.imageUri}}"></p>
