<br>
<div>
	<a href="/main">Back to the list of all products</a>
	<h5>{{product.title}}</h5>
	<img src="{{product.imageUri}}" height="100" width="100"> 
	<p>{{product.description}}</p>
	<form action="/cart/add/{{product.id}}" method="POST">
		<button type="submit" value="{{product.id}}">Add to cart</button>
	</form> 
</div>
<br>