<div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img src={{product.imageUri}}>
      </div>
      <div class="card-stacked">
        <div class="card-action">
          <a href="#">{{product.title}}</a>
          <span class="price">${{product.price}}</span>
        </div>
        <div class="card-content">
          <p>{{product.description}}</p>
        </div>
      </div>
    </div>
  </div>
<a href="/cart/add/{{product._id}}" class="waves-effect waves-light btn pulse amber accent-3 black-text"><i class="material-icons left #amber accent-3">add_shopping_cart</i>Add to Cart</a>
