<h2 class="center"><img src="{{user.pictureURL}}"/> Logged in as {{user.username}}</h2>
<h3> Products </h3>
<div class= "all-products col-xs-10 col-xs-offset-1">
  {{#each products}}
  <div class = "single-product">
    <div class = "image-container col-xs-3">
      <img src="{{imageUri}}">
    </div>
    <div class = "words col-xs-7">
      <div class = "title">
        <h3>{{title}}</h3>
      </div>
      <div class = "description">
        <h5>{{description}}</h5>
      </div>
    </div>
    <div class = "col-xs-2 price">
      <h4>${{price}}</h4>
    </div>
  </div>
  <hr>
  {{/each}}
</div>
<a class="btn btn-primary btn-danger" href="/logout">Logout</a>
Add Comment Collapse

new messages
