<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Products</title>
  </head>
  <body>
    <h1>Products</h1>
    <br>
    {{#each products}}
    <div>
      <a href="/product/{{this._id}}"><img src="{{imageUri}}" width="71" height="57"/></a>
      <h2>{{title}}</h2>
      <span> <b>Price: ${{this.price}}</b></span>
      <p>{{description}}</p>
    </div>
    <hr/>
    {{/each}}
  </body>
</html>
