
<a href="product/{{_id}}"><img src="{{product.imageUri}}" height="42" width="42"></a>
<h1>{{product.title}}</h1>


<div class="product-container">

  <div class='indv-product'>
    <div class="product-header">
      <a href="product/{{_id}}"><img src="{{product.imageUri}}" height="42" width="42"></a>
      <div class="product-title">
        {{product.title}}
      </div>
      <span class="product-price">
        {{product.price}}
      </span>
    </div>
    <div class="product-body">
      {{product.description}}
    </div>
  </div>

</div>
