<h1>Thanks!</h1>
<p>timestamp: {{order.timestamp}}</p>
<p>orderContents: {{order.orderContents}}</p>
<p>_userid: {{order._userid}}</p>
<p>_paymentid: {{order._paymentid}}</p>
<p>shippingInfo: {{order.shippingInfo}}</p>
<p>orderStatus: {{order.orderStatus}}</p>
<p>subtotal: {{order.subtotal}}</p>
<p>total: {{order.total}}</p>