<h4>Name:</h4>
<p>{{user.displayName}}</p>


<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>Address:</h4>
<p>{{user.address}}</p>

<h4>Reviews:</h4>
<p>{{user.reviews}}</p>

<h4>Following:</h4>
{{#each following}} 
  <div>{{followed.displayName}}
  <form  action="/unfollow/{{followed.id}}" method="post">
    <input class="hidden-url" type="hidden" name="fromMe" value="true">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
</div>
{{/each}}

<h4>Followers:</h4>
{{#each followers}}
  <p>{{follower.displayName}}</p>
{{/each}}

<script>
// $(function() {
//   $('.hidden-url').val(window.location.href);
// });
</script>