<form action='/restaurant/new' method="post">
<h1> {{restuarant.name}} </h1>
<h1> {{restuarant.category}} </h1>
<h1> {{restuarant.price}} </h1>
<h1> {{restuarant.longitude}}, {{restuarant.latitdue}} </h1>
<h1> {{restuarant.opentime}} </h1>
<h1> {{restuarant.closetime}} </h1>
</form>
