<form action="/restaurants/new" method="post">
  <input type="text" name="name" placeholder="Name" value={{restaurant.name}}>
  <input type="text" name="category" placeholder="Category" value={{restaurant.category}}>
  <input type="text" name="latitude" placeholder="Latitude" value={{restaurant.latitude}}>
  <input type="text" name="longitude" placeholder="Longitude" value={{restaurant.longitude}}>
  <input type="text" name="price" placeholder="Price" value={{restaurant.price}}>
  <input type="text" name="openTime" placeholder="Open Time" value={{restaurant.openTime}}>
  <input type="text" name="closingTime" placeholder="Closing Time" value={{restaurant.name}}>
</form>
