<h1>Restaurants</h1>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="/restaurants/list/1/?name=1">By Restaurant (A-Z)</a></li>
    <li><a href="/restaurants/list/1/?name=-1">By Restaurant (Z-A)</a></li>
    <li><a href="/restaurants/list/1/?rating=1">By Rating (High-Low)</a></li>
    <li><a href="/restaurants/list/1/?rating=-1">By Rating (Low-High)</a></li>
  </ul>
</div>
<nav>
  <ul class="pagination">
    {{#if prev}}
    <li>
      <a href="/restaurants/list/{{prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{/if}}
    {{#each nums}}
    <li><a href="/restaurants/list/{{this}}">{{this}}</a></li>
    {{/each}}
    {{#if next}}
    <li>
      <a href="/restaurants/list/{{next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {{/if}}
  </ul>
</nav>
<p></p>
<ul>
{{#each rest}}
<h2><a href="/restaurant/{{_id}}" <b>{{name}}</a></h2>
<p>Cuisine: {{category}}</p>
<p>Price Range: {{price}}</p>
<p>Hours: {{openTime}}-{{closingTime}}</p>
{{/each}}