<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		{{#each users}}
				<div class="level">
					<span>
						<a href="/user/{{_id}}"><h4>{{displayName}}</h4></a>
					</span>
						{{#unless_get ../fObj _id}}
						<span class="glyphicon glyphicon-remove follow un" id="{{_id}}-unfollow"></span>
						{{else}}
						<span class="glyphicon glyphicon-ok follow fo" id="{{_id}}-follow"></span>
						{{/unless_get}}
				</div>
				<div class="level">
					<span class="glyphicon glyphicon-map-marker"></span>
					<p class="loc">{{location}}</p>
				</div>
		{{/each}}
	</div>
</div>


<script type="text/javascript">
	$(".follow").click(function(e) {
		e.preventDefault()
		console.log('clicked follow!')
		var name = ($(this).prev().text()).trim()
		var id = "#" + ($(this).attr('id'));
		var fstatus = id.split("-")
		fstatus = fstatus[1];
		$.ajax({
			type: "POST",
			url:'/user/'+($(this).attr('id')).replace('-','/'),
			success: function() {
				if(confirm("You " + fstatus + "ed " + name)){
					window.location.reload(); 
				}
			}
		})
	})
	$('#profiles').addClass('active')
</script>