<h4>Name:</h4>
<p>{{user.displayName}}</p>

<h4>Location:</h4>
<p>{{user.location}}</p>

<h4>Followers:</h4>
{{#each allFollowers}}
  <div>{{follower.displayName}}</div>
  <div>{{following.location}}</div>
{{/each}}

<h4>Following:</h4>
{{#each allFollowing}}
  <div>{{following.displayName}}
  <form  action="/unfollow/{{uid2.id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
</div>
<div>{{following.location}}</div>
{{/each}}
