</p>rest</p>
{{#each restaurants}} 
<p>{{name}}</p>
<p>{{category}}</p>
<p>{{price}}</p>
<p>{{openTime}}</p>
<p>{{closeTime}}</p>
<a class="btn btn-default" href="/restaurants/{{_id}}">View restaurant</a></td>
{{/each}}