
{{! YOUR CODE HERE }}
<ul>

 Page: {{page}}

<form>
<div>Name:
<select name="name">
<option value="ascending">Ascending</option>
<option value="descending">Descending</option>
<input type="submit" value="Submit">
</select>
</form>

<form>
<div>Price:
<select name="price">
<option></option>
<option value="ascending">Ascending</option>
<option value="descending">Descending</option>

</select>
</div>	
<div>Rating:
<select name="rating">
<option></option>
<option value="ascending">Ascending</option>
<option value="descending">Descending</option>
<input type="submit" value="Submit">
</select>
</div>
</form> 


<nav>
  <ul class="pagination">
    <li>
      <a href="{{prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
      {{#each pageArr}}

    </li>
    <li><a href="/restaurants/list/{{this}}">{{this}}</a></li>
    <li>
    	{{/each}}
      <a href="{{next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>



	
{{#each restaurants}}
<li><a href="/restaurants/{{_id}}"><h1>{{name}}</h1> 

<strong>Category:{{category}}
		<p>Location: {{location.address}}</p>
		<p>Price: {{price}}</p>
		<p>Rating: {{rating}}</p>
{{/each}}
</ul>
