<nav>
	<h1>Page:{{n}}</h1>
  <ul class="pagination">
    <li>
      <a href="{{prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{#each pages}}
    <li><a href="{{this}}">{{this}}</a></li>
    {{/each}}
    
    <li>
      <a href="{{next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<ul>
{{#each restaurants}}
<li>
<h4><a href="/singleRestaurant/{{this._id}}">{{name}}</a></h4>
<p>Price: {{price}}</p>
<p>Category: {{category}}</p>
<p>Location: {{address}}</p>
</li>
{{/each}}
</ul>