<h1> Restaurant List:</h1>
{{#each restaurants}}
<div class="well">
<h4> <a href='/restaurants/{{_id}}'>Name:</a></h4>
<p>
  {{name}}
</p>
<h4> Price:</h4>
<p>
  {{price}}
</p>
<h4> Category:</h4>
<p>
  {{category}}
</p>
<h4> Stars:</h4>
<p>
  {{stars}}
</p>
<h4> Opening Time:</h4>
<p>
  {{openTime}}
</p>
<h4> Closing Time:</h4>
<p>
  {{closingTime}}
</p>
</div>
{{/each}}

<div class="well">

{{#each reviews}}
<p>
  {{user.displaName}}
</p>
<p>
  {{stars}}
</p>
<p>
  {{content}}
</p>


<div class="review">

   <form method="POST">

      <h3>Leave a Review</h3>
      <div class="form-group">
        <label> Content </label>
        <input type="text" name="content" class="form-control" />
      </div>
      <div class="form-group">
        <label> Content </label>
        <input type="number" name="stars" class="form-control" />
      </div>
      <div class="form-group">
        <button class="btn btn-success">Send</button>
      </div>
   </form>
</div>
{{/each}}

</div>
