<h3>All restaurants</h3>
{{#each restaurants}}
<p>Name: {{name}}</p>
<p>Category: {{category}}</p>
<p>Price: ${{price}}</p>
<p>Opens: {{openTime}}</p>
<p>Closes: {{closeTime}}</p>
<a class="btn btn-default" href="/restaurants/{{_id}}">View restaurant</a></td>
{{/each}}