<h1> Restaurant List:</h1>
{{#each restaurants}}
<div class="well">
  <div class="restName">
<h3> <a href='/restaurants/{{_id}}'>{{name}}</a></h3>
  </div>
<h4> Price:</h4>
<p>
  {{price}}
</p>
<h4> Category:</h4>
<p>
  {{category}}
</p>
<h4> Stars:</h4>
<p>
  {{stars}}
</p>
<h4> Opening Time:</h4>
<p>
  {{openTime}}
</p>
<h4> Closing Time:</h4>
<p>
  {{closingTime}}
</p>
</div>
{{/each}}

<div class="well">

{{#each reviews}}
<p>
  {{user.displayName}}
</p>
<p>
  {{stars}}
</p>
<p>
  {{content}}
</p>


<div class="review">

   <form method="POST">

      <h3>Leave a Review</h3>
      <div class="form-group">
        <label> Content </label>
        <input type="text" name="content" class="form-control" />
      </div>
      <div class="form-group">
        <label> Content </label>
        <input type="number" name="stars" class="form-control" />
      </div>
      <div class="form-group">
        <button class="btn btn-success">Send</button>
      </div>
   </form>
</div>
{{/each}}

</div>

<nav>
  <ul class="pagination">
    {{#if hasPrev}}
    <li>
      <a href="/restaurants/list/{{prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{/if}}
    <li><a href="/restaurants/list/1">1</a></li>
    <li><a href="/restaurants/list/2">2</a></li>
    <li><a href="/restaurants/list/3">3</a></li>
    <li><a href="/restaurants/list/4">4</a></li>
    <li><a href="/restaurants/list/5">5</a></li>
    {{#if hasNext}}
    <li>
      <a href="/restaurants/list/{{next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {{/if}}
  </ul>
</nav>
