{{! YOUR CODE HERE }}
<div class="row">
	<div class="col-sm-10 col-sm-offset-1 restaurant-container">
		{{#each restaurants}}
		<div class="level">
			<div style="padding-right:20px">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center={{latitude}},{{longitude}}&markers=color:red|{{latitude}},{{longitude}}&zoom=13&size=300x179&maptype=roadmap">
			</div>
			<div style="padding-right:20px">
				<a href="/restaurants/{{_id}}">
					<h2>{{name}}</h2>
				</a>
				<h4>{{category}}</h4>
				<div class="level">
					<span class="glyphicon glyphicon-map-marker"></span>
					<p class="loc">{{latitude}}, {{longitude}}</p>
				</div>
				<div class="level">
					<div style="padding-right:20px">
						<p>Cost: {{price}}</p>
						<p>Open: {{opentime}}-{{closingtime}}</p>
					</div>
					<div>
						<div>
							<h4 style="margin-top:0">Reviews</h4>
						</div>
						<div class="level">
							<div id="rating" style="padding-right:5px">
								<div id="stars{{_id}}">
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
								</div>
							</div>
							<p id="rating{{_id}}"></p>
						</div>
					</div>
				</div>
			</div>
			
			<script type="text/javascript">
				var val = Math.round({{totalScore}}/{{reviewCount}}*100)/100 || 0 
				var flooredVal = Math.floor({{totalScore}}/{{reviewCount}}) || 0
				$('#stars{{_id}} span:nth-child('+flooredVal+')').nextAll().css('color','#333')
				$('#rating{{_id}}').text('('+val+')')
			</script>
		</div>
		{{/each}}
	</div>
</div>


<script type="text/javascript">
	$('#browse').toggleClass('active')
</script>