{{! YOUR CODE HERE }}
<ul>

{{!-- 	<a href="?page={{prev}}">Previous page</a>
 --}}	
{{#each restaurants}}
<li><a href="/restaurants/{{_id}}"><h1>{{name}}</h1> - <strong>{{price}}</strong> - 

<strong>{{category}}
{{/each}}
</ul>