<h1>Restaurants</h1>
<ul>
{{#each rest}}
<h2><a href="/restaurant/{{_id}}" <b>{{name}}</b></a></h2>
<p>Cuisine: {{category}}</p>
<p>Price Range: {{price}}</p>
<p>Rating: {{averageRating}}</p>
<p>Hours: {{openTime}}-{{closingTime}}</p>
{{/each}}