<h1>Profile</h1>
<div class="well">
<p>
<b>Name:</b>
{{user.name}}
</p>

<p><b>Email:</b>
{{user.email}}
</p>

<p><b>Address:</b>
{{user.address}}
</p>

</div>

<div class="well">
<b>Reviews:</b>
{{#each reviews}}
<p>{{restaurant.name}} : {{content}}</p>
{{/each}}
</div>

<div class="well">
<b>Following {{following.length}}:</b>
{{#each following}}
<p>
{{to.email}}
</p>
{{/each}}
</div>

<div class="well">
<b>Followers {{followers.length}}:</b>
{{#each followers}}
  <p>{{from.email}}</p>
{{/each}}
</div>

