<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<h2>{{restaurant.name}}</h2>
		<h4>{{restaurant.category}}</h4>
		<div class="level">
			<span class="glyphicon glyphicon-map-marker"></span>
			<p class="loc">{{restaurant.latitude}}, {{restaurant.longitude}}</p>
		</div>
		<p>Cost: {{restaurant.price}}</p>
		<p>{{restaurant.opentime}}-{{restaurant.closingtime}}</p>
	</div>
</div>
