<h4> Name: </h4>
<p>
   {{restaurant.name}}
</p>
<h4> Price: </h4>
<p>
   {{restaurant.price}}
</p>

<h4> Category: </h4>
<p>
   {{restaurant.category}}
</p>

<h4> Stars: </h4>
<p>
   {{restaurant.stars}}
</p>

<h4> Open Time: </h4>
<p>
   {{restaurant.openTime}}
</p>

<h4> Closing Time: </h4>
<p>
   {{restaurant.closingTime}}
</p>
