<h2>{{restaurant.name}}</h2>
<h2>Rating: {{restaurant.averageRating}} Review Count: {{restaurant.reviewCount}}</h2>
<h3>Hours Today: {{restaurant.opentime}}:00-{{restaurant.closetime}}:00</h3>
<div><img src="https://maps.googleapis.com/maps/api/staticmap?center={{restaurant.latitude}},{{restaurant.longitude}}&markers=color:red|{{restaurant.latitude}},{{restaurant.longitude}}&zoom=13&size=600x300&maptype=roadmap&key=AIzaSyC1XuwbLnGVoxrozcTM1Xkpu728xBjM4O8"/></div>
<a href="/restaurants/{{restaurant.id}}/review" class="btn btn-primary" role="button">Add Review</a>

<h3>Reviews</h3>
{{#each reviews}}
    <div style = "border: 0.5px solid white; padding: 10px 30px 10px 30px; text-align: center; margin-bottom: 10px; max-width: 70%; background-color: rgb(169,169,169); color: black; border-radius: 20px;clear: both">
        <div>Reviewer: {{userId.name}}</div>
        <div>Location: {{userId.location}}</div>
        <div>Rating: {{score}}</div>
        <div>Comments: {{content}}</div>
    </div>
{{/each}}
