<h1> Am I following: {{iAmFollowing}}</h1>
  <form action="/profile/{{user._id}}/unfollow" method="post">
      <input type="submit" name="unfollow" value="Unfollow">
  </form>
  <form action="/profile/{{user._id}}/follow" method="post">
      <input type="submit" name="follow" value="Follow">
  </form>

<h4>Name:</h4>
<p>{{user.displayName}}</p>

<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>Location:</h4>
<p>{{user.location}}</p>

<h4>Reviews:</h4>
{{#each reviews}}
{{#each stars}}
  <span>☆</span>
{{/each}}
<!-- <ul><h3>{{stars}} <span class="glyphicon glyphicon-star" aria-hidden="true"></span> -->
</h3>{{content}}<p style="color: grey">{{restaurant.name}}</p></ul>

{{/each}}

<h4>Following:</h4>
{{#each following}}
    <ul>{{to.displayName}} <p style="color: grey">{{to.email}} {{to.location}}</p></ul>
{{/each}}

<h4>Followers:</h4>
{{#each followers}}
  <ul>{{from.displayName}} <p style="color: grey">{{from.location}}</p></ul>
{{/each}}
