<form action="/profile/{{user._id}}/follow" method="post">
  <input type="submit" value="follow"
</form>

<h4>Name:</h4>
<p>{{user.displayName}}</p>

<h4>Email:</h4>
<p>{{user.username}}</p>

<h4>Address:</h4>
<p>{{user.address}}</p>

<h4>Reviews:</h4>
<p>{{user.reviews}}</p>

<h4>Following:</h4>
<ul>
{{#each following}}
<!--  iterate over each person you follow and list their email  -->
  <li>
    {{followed.email}}
  </li>
{{/each}}
</ul>

<h4>Followers:</h4>
<ul>
{{#each follower}}
<!--  iterate over each person you follow and list their email  -->
  <li>
    {{follower.email}}
  </li>
{{/each}}
</ul>

<h4>Followers:</h4>
{{#each followers}}
  <p>{{uid1.displayName}}</p>
{{/each}}
