<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="level">
			<div>
				<h2>{{restaurant.name}}</h2>
				<h4>{{restaurant.category}}</h4>
				<div class="level">
					<span class="glyphicon glyphicon-map-marker"></span>
					<p class="loc">{{restaurant.latitude}}, {{restaurant.longitude}}</p>
				</div>
				<p>Cost: {{restaurant.price}}</p>
				<p>{{restaurant.opentime}}-{{restaurant.closingtime}}</p>
			</div>
			<div style="padding-left:20px">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center={{restaurant.latitude}},{{restaurant.longitude}}&markers=color:red|{{restaurant.latitude}},{{restaurant.longitude}}&zoom=13&size=300x179&maptype=roadmap">
			</div>
		</div>
	</div>
</div>

