<form  action="/follow/{{user._id}}" method="post"> 
    <input style="display: inline;" type="submit" value="Follow">
</form>

<h3>{{user.displayName}}'s Profile Page></h3>

<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>Location:</h4>
<p>{{user.location}}</p>


<h4>Following()</h4>
{{#each following}}
  <div>{{user2.displayName}}
  {{user2.location}}
  <form  action="/unfollow/{{user2.id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
</div>
{{/each}}

<h4>Followers()</h4>
{{#each followers}}
    <p>{{user1.displayName}}</p>
    <p>{{user1.location}}</p>
{{/each}}


<h4>Reviews()</h4>
{{#each reviews}}
    <p>{{restaurantId.name}}</p>
    <p>{{stars}}</p>
{{/each}}