{{amIAlreadyFollowing}}
{{#if amIAlreadyFollowing}}
<form action="/profile/{{user._id}}/unfollow" method="post">
<input type="submit" value="unfollow" name="unfollow">
</form>
{{else}}
<form action="/profile/{{user._id}}/follow" method="post">
	<input type="submit" value="follow" name="follow">
</form>
{{/if}}

<h4>Name:</h4>
<p>{{user.displayName}}</p>


<h4>Email:</h4>
<p>{{user.email}}</p>

{{#if user.location}}
<h4>Address:</h4>
<p>{{user.location}}</p>
{{/if}}

<h4>Reviews:</h4>
<p>{{user.reviews}}</p>

<h4>Following: ({{following.length}})</h4>
{{#each following}}
  <div>{{followed.displayname}}
  </form>
</div>
{{/each}}

<h4>Followers: {{followers.length}}</h4>
{{#each followers}}
  <p>{{follower.displayName}}</p>
{{/each}}
