<h4>Name:</h4>

<p>{{displayName}}</p>

<h4>Email:</h4>
<p>{{email}}</p>

<h4>Address:</h4>
<p>{{address}}</p>

<h4>Reviews:</h4>
<p>{{user.reviews}}</p>

<h4>Following:</h4>
{{#each following}}
  <div>{{uid2.displayName}}
  <form  action="/unfollow/{{uid2.id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
</div>
{{/each}}

<h4>Followers:</h4>
{{#each followers}}
  <p>{{uid1.displayName}}</p>
{{/each}}

<a href = '/profiles' ><p>LE PROFILES!!!</p></a>

<form method="post">

<input type="submit" name = "follow" value="{{follow}}">

</form>
