<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="level restaurant-container">
			<div style="padding-right:20px">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center={{restaurant.latitude}},{{restaurant.longitude}}&markers=color:red|{{restaurant.latitude}},{{restaurant.longitude}}&zoom=13&size=300x179&maptype=roadmap&key=AIzaSyDHY_Z52IV3Et-b4q-KrcOK-6r5FXW4cxw">
			</div>
			<div>
				<h2>{{restaurant.name}}</h2>
				<h4>{{restaurant.category}}</h4>
				<div class="level">
					<span class="glyphicon glyphicon-map-marker"></span>
					<p class="loc" id="loc"></p>
				</div>
				<div class="level">
					<div style="padding-right:20px">
						<p>Cost: {{restaurant.price}}</p>
						<p>Open: {{restaurant.opentime}}-{{restaurant.closingtime}}</p>
					</div>
					<div>
						<div>
							<h4 style="margin-top:0">Reviews ({{restaurant.reviewCount}})</h4>
						</div>
						<div class="level">
							<div id="rating" style="padding-right:5px">
								<div id="stars{{restaurant._id}}">
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
								</div>
							</div>
							<p id="rating{{restaurant._id}}"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{#if reviews}}
		<div>
			<h2>Reviews</h2>
			<div class="reviews">
				{{#each reviews}}
					<div class="one-review">
					<h4>{{uId.displayName}}</h4>
					<div class="level">
						<div id="rating" style="padding-right:5px">
							<div id="stars{{_id}}">
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
							</div>
						</div>
						<p id="rating{{_id}}"></p>
					</div>
					<p>{{content}}</p>
					<script type="text/javascript">
						$('#stars{{_id}} span:nth-child({{stars}})').nextAll().css('color','#333')
					</script>
					</div>
				{{/each}}
			</div>
		</div>
		{{/if}}
	</div>
</div>

<script type="text/javascript">
	var val = Math.round({{restaurant.averageRating}}*100)/100 || 0 
	var flooredVal = Math.floor({{restaurant.averageRating}}) || 0
	$('#stars{{restaurant._id}} span:nth-child('+flooredVal+')').nextAll().css('color','#333')
	$('#rating{{restaurant._id}}').text('('+val+')')
	$.ajax({
					type: "GET",
					url: "https://maps.googleapis.com/maps/api/geocode/json?latlng={{restaurant.latitude}},{{restaurant.longitude}}&key=AIzaSyDHY_Z52IV3Et-b4q-KrcOK-6r5FXW4cxw",
					success: function(data) {
						$('#loc').text(data.results[0].formatted_address)
					}
				})
</script>

