<h3>{{restaurant.name}}</h3>
<ul>
  <li>{{restaurant.category}}</li>
  <li>{{restaurant.latitude}}</li>
  <li>{{restaurant.longitude}}</li>
  <li>{{restaurant.price}}</li>
  <li>{{restaurant.openTime}}</li>
  <li>{{restaurant.closingTime}}</li>
</ul>
