<h4>Name:</h4>
<p>{{user.displayName}}</p>

<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>Address:</h4>
<p>{{user.location}}</p>

<h4>Reviews:</h4>
<p>{{user.reviews}}</p>
{{!-- where do we get these reviews???? --}}

<form method ="post">
{{#if isFollowing}}
	<div>
		<input type="submit" name="followBtn" class="btn btn-primary" value="Unfollow">
	</div>
{{else}}
	<div>
		<input type="submit" name="followBtn" class="btn btn-primary" value="Follow">
	</div>
{{/if}}
</form>

<h4>Following:</h4>
{{#each following}}
  <div>{{userTo.displayName}}
  <form action="/unfollow/{{userTo._id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
</div>
{{/each}}

<h4>Followers:</h4>
{{#each followers}}
  <p>{{userFrom.displayName}}</p>
{{/each}}

