<form action="/profiles/{{user.displayName}}/{{theDecision.action}}" method="post">
  <button type="submit" name="{{theDecision.action}}">{{theDecision.action}}</button>
</form>
<!-- <form action="/profiles/{user.displayName}/unfollow" method="post">
  <button type="submit" name="unfollow">unfollow</button>
</form> -->


<h4>Name:</h4>
<p>{{user.displayName}}</p>

<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>Location:</h4>
<p>{{user.location}}</p>

<h4>Reviews:</h4>
{{#each reviews}}
<p>{{user.reviews}}</p>
{{/each}}

<h4>Following:</h4>
{{#each following}}
  <div>{{uid2.displayName}}
  <form action="/profiles/{{user.displayName}}/unfollow" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
</div>
<p>{{uid1.location}}</p>
{{/each}}

<h4>Followers:</h4>
{{#each followers}}
  <p>{{user.displayName}}</p>
  <p>{{user.location}}</p>
{{/each}}
