<form action="/follow/{{user.id}}" method="post">
  <input type="submit" value="Follow">
</form>

<h4>Name:</h4>
<p>{{user.displayName}}</p>

<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>Location:</h4>
<p>{{user.location}}</p>

<h4>Following:</h4>
{{#each following}}
  <div>{{userId2.displayName}}
  <form  action="/unfollow/{{userId2.id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
</div>
{{/each}}

<h4>Followers:</h4>
{{#each followers}}
  <p>{{userId1.displayName}}</p>
{{/each}}
