<h4>Name:</h4>	
<p>{{user.displayName}}</p>

<h4>Location:</h4>
<p>{{user.location}}</p>

{{#if isFollowing}}
	<form  action="/unfollow/{{user._id}}" method="post">
    	<button type="submit">Unfollow</button>
  	</form>
{{else}}
	<form action="/follow/{{user._id}}" method="post">
		<button type="submit">Follow</button>
	</form>
 {{/if}}

<h4>Following:</h4>
{{#each following}}
  <div>{{displayName}} {{location}}
  <form  action="/unfollow/{{_id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
</div>
{{/each}}

<h4>Followers:</h4>
{{#each followers}}
  <p>{{displayName}} {{location}}</p>
{{/each}}
