{{! YOUR CODE HERE }}
<h4>Name:</h4>
<p> {{restaurant.name}} </p>
<h4>Category:</h4>
<p>{{restaurant.category}}</p>
<h4>Price:</h4>
<p>{{restaurant.price}}</p>
<h4>Time:</h4>
<p>{{restaurant.openTime}} until {{restaurant.closeTime}}</p>
<h4>Address:</h4>
<img src="https://maps.googleapis.com/maps/api/staticmap?center={{restaurant.location.latitude}},{{restaurant.location.longitude}}&markers=color:red|{{restaurant.location.latitude}},{{restaurant.location.longitude}}&zoom=13&size=600x300&maptype=roadmap&key=AIzaSyDp2U6H3ju79vdV2hvccmHr2qOQ6fwQwL8">
<a href="/restaurants"> <p> View Restaurants </p> </a>