<h4>Name:</h4>
<p>{{user.displayName}}</p>

<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>Address:</h4>
<p>{{user.address}}</p>
<br>

{{#if isFollowing}}
<form action="/unfollow/{{user._id}}" method="post">
	<input style="display: inline;" type="submit" value="Unfollow this user">
</form>
{{else}}
<form action="/follow/{{user._id}}" method="post">
	<input style="display: inline;" type="submit" value="Follow this user">
</form>
{{/if}}

<br><br>

<h4>Reviews:</h4>
<p>{{user.reviews}}</p>

<h4>Following:</h4>
{{#each following}}
	<a href="/user/{{to._id}}"><p>{{to.displayName}}</p></a>
{{/each}}



<h4>Followers:</h4>
{{#each followers}}
  <a href="/user/{{from._id}}"><p>{{from.displayName}}</p></a>
{{/each}}


<a href="/">Go back to all users</a>