<h4>Name:</h4>
<p>{{user.displayName}}</p>
{{#if isFollowing}}
<button action="/unfollow/{{user._id}}" method="post">Unfollow {{user.displayName}}</button>
{{else}}
<button action="/follow/{{user._id}}" method="post">Follow {{user.displayName}}</button>
{{/if}}


<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>Address:</h4>
<p>{{user.location}}</p>

<h4>Reviews:</h4>
<p>{{user.reviews}}</p>

<h4>Following:</h4>
{{#each following}}
  <div>{{followed.displayname}}
  <form  action="/unfollow/{{followed.id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
</div>
{{/each}}

<h4>Followers:</h4>
{{#each followers}}
  <p>{{follower.displayName}}</p>
{{/each}}
