<div class="row">

	<div class="col-sm-4">
	</div>
	<div class="col-sm-4">
		
		<p><b>Name:</b> {{user.displayName}}</p>
		<p><b>Email:</b> {{user.email}}</p>
		<p><b>Location:</b> {{user.Location}}</p>
		<p><b>Reviews:</b> {{user.reviews}}</p>

  	</div>
  	<div class="col-sm-4">
	</div>

</div>

<br/>
<br/>


<div class="row">

	<div class="col-sm-6">

		<h4>Following:</h4>
		{{#each followObj.followees}}

			<p>this.displayName</p>

		  	<div>{{uid2.displayName}}
			  	<form  action="/unfollow/{{uid2.id}}" method="post">
			    	<input style="display: inline;" type="submit" value="Unfollow">
			  	</form>
			</div>
		{{/each}}

	</div>

  	<div class="col-sm-6">

  		<h4>Followers:</h4>
		{{#each followObj.followers}}
		  
		  <p>this.displayName</p>

		  <p>{{uid1.displayName}}</p>
		{{/each}}


	</div>

</div>










