<h4>Name:</h4>
<p>{{user.displayName}}</p>

<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>Address:</h4>
<p>{{user.location}}</p>

<a href="/profiles/{{user.id}}/follow"><span>Follow</span></a>
<a href="/profiles/{{user.id}}/unfollow"><span>Unfollow</span></a>

<h4>Reviews:</h4>
<p>{{user.reviews}}</p>

<h4>Following({{allFollowing.length}})</h4>
{{#each allFollowing}}
  <div>{{uid2.displayName}}
  <form  action="/unfollow/{{uid2.id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
</div>
{{/each}}

<h4>Followers({{allFollowers.length}})</h4>
{{#each allFollowers}}
  <p>{{uid1.displayName}}</p>
{{/each}}
