<form action="/profile/{{user._id}}/follow" method="post">
<input type="submit" value="follow">
</form>

<h4>Name:</h4>
<p>{{user.displayName}}</p>
{{#if isFollowing}}
<!-- <form role="form">
<div>
<button type="submit" class="btn btn-default" method="post" action="/unfollow/{{user._id}}">Unfollow {{user.displayName}}</button>
</div>
</form>
{{else}}
<form role="form">
<div>
<button type="submit" class="btn btn-default" method="post" action="/follow/{{user._id}}">Follow {{user.displayName}}</button>
</div>
{{/if}}
</form> -->


<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>Address:</h4>
<p>{{user.location}}</p>

<h4>Reviews:</h4>
<p>{{user.reviews}}</p>

<h4>Following:</h4>
{{#each following}}
  <div>{{followed.displayname}}
  <form  action="/unfollow/{{followed.id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
</div>
{{/each}}

<h4>Followers:</h4>
{{#each followers}}
  <p>{{follower.displayName}}</p>
{{/each}}
