<h4>Name:</h4>
<p>{{user.name}}</p>

<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>Location:</h4>
<p>{{user.location}}</p>

<h4>Reviews:</h4>
<p>{{review.content}}</p>

<h4>Following:</h4>
{{#each following}}
  <div>{{userTo.name}}
  <form  action="/unfollow/{{userTo.id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
</div>
{{/each}}

<h4>Followers:</h4>
{{#each followers}}
  <p>{{userFrom.name}}</p>
  <form  action="/follow/{{userFrom.id}}" method="post">
    <input style="display: inline;" type="submit" value="Follow">
  </form>
{{/each}}
