<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
	<h2>{{user.displayName}}'s Pleh</h2>
	<div class="level">
		<span class="glyphicon glyphicon-map-marker"></span>
		<p class="loc">{{user.location}}</p>
	</div>
	<div id="network">
		<!-- <div id="follower-following"> -->
			<div>
				<h4>Followers ({{followers.length}})</h4>
				{{#each followers}}
					<div>
						<a href="/user/{{user1Id._id}}">
							<h5>{{user1Id.displayName}}</h5>
						</a>
						<div class="level">
							<span class="glyphicon glyphicon-map-marker"></span><p class="loc">{{user1Id.location}}</p>
						</div>
					</div>
				{{/each}}
			</div>
			<div>
				<h4>Following ({{following.length}})</h4>
				{{#each following}}
					<div>
						<a href="/user/{{user2Id._id}}">
							<h5>{{user2Id.displayName}}</h5>
						</a>
						<div class="level">
							<span class="glyphicon glyphicon-map-marker"></span><p class="loc">{{user2Id.location}}</p>
						</div>
					</div>
				{{/each}}
			</div>
		<!-- </div> -->
		<div>
			<h4>Reviews ({{reviews.length}})</h4>
			{{#each reviews}}
				<div>
					<a href="/restaurants/{{rId._id}}">
						<h5>{{rId.name}}</h5>
					</a>
					<div class="level">
						<p style="padding-right:5px">Rating</p>
						<div id="rating">
							<div id="stars{{_id}}">
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
							</div>
						</div>
					</div>
				</div>
				<script type="text/javascript">
					$('#stars{{_id}} span:nth-child({{stars}})').nextAll().css('color','#333')
				</script>
			{{/each}}	
		</div>
	</div>
</div>
<script type="text/javascript">
	var wrapped = false;
	if ($(window).width()<=767) {
		$('#network > div:not(:last-child)').wrapAll('<div id="wrapped" />')
		wrapped = true
	}
	$(window).resize(function(e) {
		e.preventDefault()
		if ($(window).width()>=768 && wrapped) {
			$('#wrapped').contents().unwrap()
			wrapped = false
		} else if ($(window).width()<=767 && !wrapped){
			$('#network > div:not(:last-child)').wrapAll('<div id="wrapped" />')
			wrapped = true
		}
	})
</script>
